<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjs.del.mapper.ErrorCheckAddressMapper" >

    <!--删除纠错地址表三天前的数据-->
    <delete id="delErrorCheckAddress" >
        DELETE
        FROM
        FD_ERRORCHECK_ADDRESS
        WHERE
        ID IN (
        SELECT
        ID
        FROM
        FD_ERRORCHECK_ADDRESS t
        WHERE
        TO_CHAR ( t.SIGNTIME, 'yyyy-MM-dd' ) &lt;= TO_CHAR ( SYSDATE - 4, 'yyyy-MM-dd' )
        AND ROWNUM &lt;
        501
        )

    </delete>

    <!--查询三天之前的数据-->
    <select id="listIds" resultType="int">
        SELECT
        ID
        FROM
        FD_ERRORCHECK_ADDRESS t
        WHERE
        TO_CHAR ( t.SIGNTIME, 'yyyy-MM-dd' ) &lt;= TO_CHAR ( SYSDATE - 4, 'yyyy-MM-dd' )
        AND ROWNUM &lt;
        1
    </select>

</mapper>