<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjs.del.mapper.ErrorCheckAddressMapper" >

    <!--删除纠错地址表三天前的数据-->
    <delete id="delErrorCheckAddress" >
        DELETE/*+rule*/
        FROM
        FD_ERRORCHECK_ADDRESS t
        WHERE
        t.SIGNTIME &lt;= TO_TIMESTAMP(SYSDATE - 4)
        AND ROWNUM &lt;501

    </delete>

    <!--查询三天之前的数据-->
    <select id="listIds" resultType="int">
        SELECT /*+rule*/
        COUNT(ID)
        FROM
        FD_ERRORCHECK_ADDRESS t
        WHERE
        t.SIGNTIME &lt;= TO_TIMESTAMP(SYSDATE - 4)
        AND ROWNUM &lt;501
    </select>

</mapper>