<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjs.del.mapper.ErrorCheckAddressMapper" >


    <delete id="delErrorCheckAddress" >
        DELETE FROM FD_ERRORCHECK_ADDRESS t
        WHERE to_char(t.SIGNTIME,'yyyy-MM-dd')   &lt;=  to_char(sysdate-4,'yyyy-MM-dd')
    </delete>

</mapper>