<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjs.del.mapper.HistAddrMapper" >
  <resultMap id="BaseResultMap" type="com.zjs.del.model.entity.HistAddrWritePro" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="LNG" property="lng" jdbcType="DECIMAL" />
    <result column="LAT" property="lat" jdbcType="DECIMAL" />
    <result column="PROVICE" property="provice" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="COUNTY_NAME" property="countyName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="FREQUENCY" property="frequency" jdbcType="DECIMAL" />
    <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="MODIFIER_ID" property="modifierId" jdbcType="VARCHAR" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
      ID,ADDRESS,LNG,LAT,PROVICE,CITY,COUNTY_NAME,CREATE_TIME,FREQUENCY,LAST_MODIFY_TIME,MODIFIER_ID,MODIFIER
  </sql>


    <select id="findHistAddrByAddress" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM ${tableName}
        WHERE FREQUENCY >= 10
        <if test="address != null">
          AND ADDRESS = #{address,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>