<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjs.del.mapper.TaskToLogMapper" >

    <delete id="deleteTaskToLog">
         DELETE
            FROM
                TASK_TO_LOG
            WHERE
                ID IN (
            SELECT
                ID
            FROM
                TASK_TO_LOG t
            WHERE
                TO_CHAR ( t.RESPONSE_TIME, 'yyyy-MM-dd' ) &lt;
            TO_CHAR ( ADD_MONTHS ( SYSDATE,- 3 ), 'yyyy-MM-dd' )
            AND ROWNUM &lt;
            501
            )
    </delete>

</mapper>